flows.json
[
    {
        "id": "33e31080ef834a10",
        "type": "tab",
        "label": "7: Flow1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43d1740e38cc6310",
        "type": "tls-config",
        "name": "mqtt.lora.eagelcovewc.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "mqtt_client.pem",
        "keyname": "mqtt_client.key",
        "caname": "ca.pem",
        "servername": "mqtt.lora.eagelcovewc.com",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "9d156d3c3c4f5a59",
        "type": "telegram bot",
        "botname": "SJI IOT BOT",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b79a80b523e80429",
        "type": "mqtt-broker",
        "name": "mqtt.lora.ecwc.com",
        "broker": "mqtt.lora.eaglecovewc.com",
        "port": "8883",
        "tls": "43d1740e38cc6310",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0fd9e2718334449d",
        "type": "mqtt in",
        "z": "33e31080ef834a10",
        "name": "STEM Humidity Reading",
        "topic": "application/4240e563-c576-499b-b6e9-89b95e3c4236/device/+/event/up",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b79a80b523e80429",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "7af204d73750409e",
                "0104821899e65712",
                "deef5760c780079e"
            ]
        ]
    },
    {
        "id": "7af204d73750409e",
        "type": "telegram sender",
        "z": "33e31080ef834a10",
        "name": "Humidity Sender",
        "bot": "9d156d3c3c4f5a59",
        "haserroroutput": true,
        "outputs": 2,
        "x": 750,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0104821899e65712",
        "type": "debug",
        "z": "33e31080ef834a10",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.object",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "deef5760c780079e",
        "type": "function",
        "z": "33e31080ef834a10",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "85e0df9c3c269955",
        "type": "inject",
        "z": "33e31080ef834a10",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "0104821899e65712"
            ]
        ]
    },
    {
        "id": "116287f00a4510f7",
        "type": "inject",
        "z": "33e31080ef834a10",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 60,
        "wires": [
            []
        ]
    }
]